footer {
	padding: 3.313rem 3.75rem 5.875rem 2.5rem;
	background: var(--color-whiteGray);
	border-radius: 3.375rem;
	margin-bottom: 2.125rem;
	@media screen and (max-width: 991px) {
		padding: 2.313rem 2.25rem 3.875rem 2.25rem;
	}
}
.footer {
	&__title {
		font-size: 24px;
		font-weight: 725;
		line-height: 34px;
		color: var(--color-textBlock);
		margin-bottom: 1.25rem;
	}
	&__text {
		font-size: 16px;
		font-weight: 325;
		line-height: 34px;
		color: var(--color-textBlock);
	}
	&__menu {
		&--title {
			font-size: 24px;
			font-weight: 725;
			line-height: 34px;
			color: var(--color-textBlock);
			margin-bottom: 1.25rem;
		}
		ul {
			li {
				&:hover {
					a {
						color: var(--color-greenLight);
						transform: translateX(-8px);
						i {
							&::before {
								color: var(--color-greenLight);
							}
						}
					}
				}
				a {
					padding: 0.625rem;
					font-size: 16px;
					font-weight: 600;
					line-height: 34px;
					color: var(--color-textBlock);
					transition: 0.3s ease;
					display: block;
					white-space: nowrap;
					i {
						font-size: 24px;
						&::before {
							transition: 0.3s ease;
							color: var(--color-textBlock);
						}
					}
					span {
					}
				}
			}
		}
	}
	&__img {
		text-align: center;
		img {
			// width: 100%;
		}
	}
}
.copyRighting {
	background: var(--color-white);
	text-align: center;
	padding: 1.438rem 2.5rem;
	border-radius: 2.125rem;
	margin-bottom: 2.5rem;
	font-size: 16px;
	font-weight: 325;
	line-height: 34px;
	text-align: center;
}
