html,
body {
	scroll-behavior: smooth;
}
ins {
	text-decoration: none;
}
del {
	text-decoration: none;
}

input {
	border: none;
	outline: none;
}
button {
	border: none;
	outline: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	margin-bottom: 0;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
	scrollbar-width: auto;
	// scrollbar-color: #8785fe #000000;
}
// .scroller {
// 	overflow-y: scroll;
// 	scrollbar-color: #0a4c95 #c2d2e4;
// }

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
	width: 10px;
}

*::-webkit-scrollbar-track {
	background: #000000;
}

*::-webkit-scrollbar-thumb {
	// background: rgb(238, 174, 202);
	background: -moz-radial-gradient(
		circle,
		rgb(17, 143, 146) 0%,
		rgb(17, 143, 146) 100%
	);
	background: -webkit-radial-gradient(
		circle,
		rgb(17, 143, 146) 0%,
		rgb(17, 143, 146) 100%
	);
	background: radial-gradient(
		circle,
		rgb(17, 143, 146) 0%,
		rgb(17, 143, 146) 100%
	);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#eeaeca",endColorstr="#94bbe9",GradientType=1);
	border-radius: 1px;
	border: 0px none #ffffff;
}
