@font-face {
    font-family: 'Karla';
    src: url(./static/Karla-ExtraLight.ttf);
    font-style: normal;
    font-weight: 200;
}

@font-face {
    font-family: 'Karla';
    src: url(./static/Karla-ExtraLight.ttf);
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: 'Karla';
    src: url(./static/Karla-Regular.ttf);
    font-style: normal;
    font-weight: 400;
}
@font-face {
    font-family: 'Karla';
    src: url(./static/Karla-Medium.ttf);
    font-style: normal;
    font-weight: 500;
}
@font-face {
    font-family: 'Karla';
    src: url(./static/Karla-Bold.ttf);
    font-style: normal;
    font-weight: 700;
}
@font-face {
    font-family: 'Karla';
    src: url(./static/Karla-ExtraBold.ttf);
    font-style: normal;
    font-weight: 800;
}




