@import url(../fonts/Karla/karal.css);
@import url(../fonts/font-icon/font-icon.css);
header {
  padding-top: 2.75rem;
  padding-bottom: 2.75rem;
}

.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__logo {
  max-width: 114px;
  transition: 0.3s ease;
}
@media screen and (max-width: 991px) {
  .header__logo {
    width: 65px;
  }
}
.header__logo:hover {
  transform: scale(1.1);
  filter: drop-shadow(0 0 20px rgba(215, 173, 100, 0.3411764706));
}
.header__right {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 991px) {
  .header__right {
    display: none;
  }
}
.header__menu {
  margin-right: 1rem;
}
@media screen and (max-width: 991px) {
  .header__menu {
    display: none;
  }
}
.header__menu nav ul {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}
.header__menu nav ul li a {
  font-size: 14px;
  font-weight: 700;
  line-height: 16.37px;
  color: #ffffff;
  padding: 0.5rem 1.25rem;
  display: inline-block;
  position: relative;
  cursor: pointer;
  white-space: nowrap;
  transition: ease-out 0.5s;
  -webkit-transition: ease-out 0.5s;
  -moz-transition: ease-out 0.5s;
  text-transform: uppercase;
}
.header__menu nav ul li a:hover {
  color: #fff;
  transform: scale(1.05);
}
.header__menu nav ul li a:hover::after, .header__menu nav ul li a:hover::before {
  width: 30px;
  height: 30px;
  border-color: white;
}
.header__menu nav ul li a::after, .header__menu nav ul li a::before {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  transition: 0.3s;
}
.header__menu nav ul li a::before {
  bottom: -3px;
  right: -3px;
  border-bottom: 1px solid transparent;
  border-right: 1px solid transparent;
}
.header__menu nav ul li a::after {
  top: -3px;
  left: -3px;
  border-top: 1px solid transparent;
  border-left: 1px solid transparent;
}
@media screen and (max-width: 991px) {
  .header__contactUs {
    display: none !important;
  }
}
.header__contactUs .btn-contactus {
  background: #d7ad64;
  padding: 0.625rem 1.5rem;
  display: inline-block;
  color: #222222;
  font-size: 14px;
  font-weight: 700;
  line-height: 16.37px;
  margin: 0 2px;
}
.header__project .btn--project {
  background: rgba(0, 0, 0, 0.4);
  padding: 0.625rem 1.5rem;
  display: inline-block;
  color: #eec072;
  font-size: 14px;
  font-weight: 700;
  line-height: 16.37px;
  margin: 0 2px;
}
.header__hambergerMenu {
  display: none;
  cursor: pointer;
  transform: rotate(180deg) scaleX(1);
}
@media screen and (max-width: 991px) {
  .header__hambergerMenu {
    display: block;
  }
}
.header__hambergerMenu i {
  font-size: 40px;
}

.btnAnimation {
  position: relative;
  cursor: pointer;
  text-transform: uppercase;
  transition: ease-out 0.3s;
  -webkit-transition: ease-out 0.3s;
  -moz-transition: ease-out 0.3s;
  display: inline-block;
}
.btnAnimation:hover {
  color: #222222;
  transform: scale(1.05);
}
.btnAnimation:hover::after, .btnAnimation:hover::before {
  width: 30px;
  height: 30px;
  border-color: white;
}
.btnAnimation::after, .btnAnimation::before {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  transition: 0.3s;
}
.btnAnimation::before {
  bottom: -6px;
  right: -6px;
  border-bottom: 1px solid transparent;
  border-right: 1px solid transparent;
}
.btnAnimation::after {
  top: -6px;
  left: -6px;
  border-top: 1px solid transparent;
  border-left: 1px solid transparent;
}

.HamburgerAni {
  direction: ltr;
  transform: scale(0.3);
  margin-right: auto;
  margin-left: -20px;
  flex-direction: column;
  width: 70px;
  cursor: pointer;
}
@media screen and (max-width: 991px) {
  .HamburgerAni {
    display: flex;
  }
}
.HamburgerAni span {
  background: #ffffff;
  border-radius: 10px;
  height: 7px;
  margin: 7px 0;
  transition: 0.4s cubic-bezier(0.68, -0.6, 0.32, 1.6);
}
.HamburgerAni span:nth-of-type(1) {
  width: 50%;
}
.HamburgerAni span:nth-of-type(2) {
  width: 100%;
}
.HamburgerAni span:nth-of-type(3) {
  width: 75%;
}
.HamburgerAni.close span:nth-of-type(1) {
  transform-origin: bottom;
  transform: rotatez(45deg) translate(8px, 0px);
}
.HamburgerAni.close span:nth-of-type(2) {
  transform-origin: top;
  transform: rotatez(-45deg);
}
.HamburgerAni.close span:nth-of-type(3) {
  transform-origin: bottom;
  width: 50%;
  transform: translate(30px, -11px) rotatez(45deg);
}

#ResponsiveMenuMobile {
  position: fixed;
  width: 300px;
  height: 100vh;
  top: 0;
  left: 0;
  background: #d7ad64;
  z-index: 999;
  transform: translateX(-100%);
  padding: 29px 18px;
  transition: transform 0.5s ease;
}
@media screen and (max-width: 300px) {
  #ResponsiveMenuMobile {
    width: 100%;
  }
}
#ResponsiveMenuMobile.show {
  transform: translateX(0);
  right: 0;
  transition: transform 0.5s ease;
}

.ResponsiveMenuMobile {
  overflow-y: auto;
}
.ResponsiveMenuMobile_head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 46px;
}
.ResponsiveMenuMobile_logo {
  width: 65px;
  padding-top: 4px;
}
.ResponsiveMenuMobile_logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.ResponsiveMenuMobile_close {
  background: #f4f1f4;
  cursor: pointer;
}
.ResponsiveMenuMobile_close:hover i::before {
  color: var(--color-gold);
}
.ResponsiveMenuMobile_close i {
  display: inline-block;
  padding: 8px;
  font-size: 20px;
  font-weight: bold;
}
.ResponsiveMenuMobile_close i::before {
  transition: 0.3s ease;
}
.ResponsiveMenuMobile_menu > nav > ul > li {
  position: relative;
}
.ResponsiveMenuMobile_menu > nav > ul > li a {
  display: block;
  display: flex;
  align-items: center;
  transition: 0.3s ease;
  gap: 0.5rem;
}
.ResponsiveMenuMobile_menu > nav > ul > li a:hover {
  color: var(--color-white);
}
.ResponsiveMenuMobile_menu > nav > ul > li a:hover i {
  transform: rotate(750deg);
}
.ResponsiveMenuMobile_menu > nav > ul > li a:hover i::before {
  color: var(--color-white);
}
.ResponsiveMenuMobile_menu > nav > ul > li a span {
  color: var(--color-primri);
  font-size: 14px;
  font-weight: 700;
  line-height: 47px;
  text-transform: uppercase;
}
.ResponsiveMenuMobile_menu > nav > ul > li a i {
  display: inline-block;
  font-size: 13px;
  transition: 0.3s ease;
  transform: rotate(90deg);
}
.ResponsiveMenuMobile_menu > nav > ul > li a i::before {
  transition: 0.3s ease;
}
.ResponsiveMenuMobile_menu .toggleDropmenu {
  padding-right: 13px;
  padding-left: 64px;
}
.ResponsiveMenuMobile_menu .toggleDropmenu a {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}
.ResponsiveMenuMobile_menu .toggleDropmenu span {
  color: var(--color-text);
}
.ResponsiveMenuMobile .toggleDropmenu {
  width: 100%;
}
.ResponsiveMenuMobile .header__contactUs {
  display: block !important;
}
.ResponsiveMenuMobile .header__contactUs .btn-contactus {
  text-align: center;
  width: 100%;
  display: block;
  border: 1px solid #fff;
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 1.5rem;
}

.ResponsiveMenuMobile__PageLanguage {
  margin-bottom: 20px;
  transition: 0.3s ease;
}
.ResponsiveMenuMobile__PageLanguage:hover {
  color: var(--color-white);
}
.ResponsiveMenuMobile__PageLanguage .select2-container {
  width: 100% !important;
}
.ResponsiveMenuMobile__PageLanguage .select2-container .select2-selection--single {
  height: auto;
  width: auto;
}
.ResponsiveMenuMobile__PageLanguage .select2-container--default .select2-selection--single {
  border: none;
  background: transparent !important;
  color: var(--color-white);
  border-radius: 100px;
}
.ResponsiveMenuMobile__PageLanguage .select2-selection__arrow {
  display: none;
}
.ResponsiveMenuMobile__PageLanguage .select2-container[dir=rtl] .select2-selection--single .select2-selection__rendered {
  padding: 0;
}
.ResponsiveMenuMobile__PageLanguage .select2-container[dir=rtl] .select2-selection--single .select2-selection__rendered > span {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row-reverse;
  gap: 10px;
}
.ResponsiveMenuMobile__PageLanguage .select2-container--default.select2-container--open.select2-container--below .select2-selection--single,
.ResponsiveMenuMobile__PageLanguage .select2-container--default.select2-container--open.select2-container--below .select2-selection--multiple {
  border-radius: 0;
}
.ResponsiveMenuMobile__PageLanguage .select2-container--open .select2-dropdown--below {
  background: var(--color-white);
  border: none;
}
.ResponsiveMenuMobile__PageLanguage .select2-container--open .select2-dropdown--below ul li {
  text-align: center;
  color: var(--color-white);
  font-size: 14px;
  background: #002f50;
  padding-top: 10px;
}
.ResponsiveMenuMobile__PageLanguage .select2-container--default .select2-results__option--highlighted[aria-selected] {
  background: #00889a;
}
.ResponsiveMenuMobile .phoneNumber {
  font-size: 16px;
  font-weight: 500;
  line-height: 25px;
  display: flex;
  gap: 6px;
  transition: 0.3s ease;
  color: var(--color-blurDark);
  justify-content: space-between;
  margin-bottom: 15px;
}
.ResponsiveMenuMobile .phoneNumber:hover a {
  color: var(--color-secendery);
}
.ResponsiveMenuMobile .phoneNumber:hover i {
  display: inline-block;
  animation: tilt-shaking 0.3s infinite alternate;
}
.ResponsiveMenuMobile .phoneNumber:hover i::before {
  color: var(--color-secendery);
}
.ResponsiveMenuMobile .phoneNumber i {
  padding-top: 3px;
}
.ResponsiveMenuMobile .phoneNumber i::before {
  color: var(--color-blurDark);
  transition: 0.3s ease;
}
.ResponsiveMenuMobile .phoneNumber span {
  color: var(--color-secendery);
  font-weight: 500;
}
.ResponsiveMenuMobile .phoneNumber--title {
  color: var(--color-blurDark) !important;
}
.ResponsiveMenuMobile .phoneNumber a {
  display: flex;
  direction: ltr;
  flex-direction: row-reverse;
}

#bg-overly {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #000000;
  opacity: 0.5;
  z-index: 998;
  display: none;
}
#bg-overly.showOverly {
  display: block;
}

html {
  overflow-x: hidden;
}

body {
  font-size: 16px;
  direction: ltr;
  text-align: left;
  font-weight: 400;
  font-family: "Karla", "icomoon";
  color: #373839;
  background: #000000;
}
body.overflowHide {
  overflow: hidden;
  width: 100vw;
  max-height: 100vh;
}

.sliderMain {
  height: 31.125rem;
  overflow: hidden;
  position: relative;
  margin-bottom: 2.5rem;
}
.sliderMain .title__swiper {
  font-size: 34px;
  font-weight: 700;
  line-height: 39.75px;
  color: #ffffff;
  text-transform: uppercase;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}
@media screen and (max-width: 991px) {
  .sliderMain .title__swiper {
    font-size: 30px;
  }
}
.sliderMain__img {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 31.125rem;
}
.sliderMain__img::before {
  position: absolute;
  content: "";
  inset: 0;
  z-index: 2;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 100%);
}
.sliderMain__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.sliderMain__title {
  position: absolute;
  left: 50%;
  top: 54%;
  width: 100%;
  transform: translate(-50%, -50%);
  color: #ffffff;
  font-size: 34px;
  font-weight: 700;
  line-height: 39.75px;
  text-align: center;
  z-index: 3;
  text-transform: uppercase;
  max-width: 800px;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (max-width: 575px) {
  .sliderMain__title {
    font-size: 24px;
  }
}
.sliderMain__title--location {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: 700;
  line-height: 16.37px;
  margin-top: 0.625rem;
  gap: 0.375rem;
}
@media screen and (max-width: 575px) {
  .sliderMain__title--location {
    font-size: 12px !important;
  }
  .sliderMain__title--location i {
    font-size: 12px !important;
  }
}
.sliderMain__title--location i {
  font-size: 20px;
}
.sliderMain__title--location span {
  text-transform: uppercase;
}
.sliderMain .swiper-button-prev, .sliderMain .swiper-button-next {
  position: static;
  padding: 0.625rem;
  background: #20201e;
  width: auto !important;
  height: auto !important;
  transition: 0.3s ease;
}
.sliderMain .swiper-button-prev:hover, .sliderMain .swiper-button-next:hover {
  background: #d7ad64;
}
.sliderMain .swiper-button-prev:hover i::before, .sliderMain .swiper-button-next:hover i::before {
  color: #000000 !important;
}
.sliderMain .swiper-button-prev::after, .sliderMain .swiper-button-next::after {
  display: none;
}
.sliderMain .swiper-button-prev i, .sliderMain .swiper-button-next i {
  font-size: 24px;
  transition: 0.3s ease;
}
.sliderMain .swiper-button-prev i::before, .sliderMain .swiper-button-next i::before {
  color: #fff !important;
}
.sliderMain__navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin-top: 1.5rem;
}
@media screen and (max-width: 991px) {
  .sliderMain__navigation {
    margin-top: 2rem;
  }
}

.sliderMain__wrapper {
  margin-top: 14.25rem;
  margin-bottom: 2.875rem;
}
@media screen and (max-width: 991px) {
  .sliderMain__wrapper {
    margin-top: 10rem;
  }
}

.sliderMain__swiperBg {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 31.125rem;
}
.sliderMain__swiperBg::before {
  position: absolute;
  content: "";
  inset: 0;
  z-index: 2;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 100%);
}
.sliderMain__swiperBg figure {
  height: 100%;
  width: 100%;
}
.sliderMain__swiperBg img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.sliderMain__swiperBg .swiper-slide:last-child {
  mix-blend-mode: difference;
}

.topMain {
  padding: 2.5rem 1.875rem;
  display: flex;
  align-items: center;
  gap: 3.375rem;
  margin-bottom: 2.5rem;
}
@media screen and (max-width: 991px) {
  .topMain {
    flex-direction: column-reverse;
    text-align: center;
  }
}
.topMain__text {
  font-size: 14px;
  font-weight: 500;
  line-height: 22.68px;
  color: #fff;
}
.topMain__img {
  flex: 0 0 auto;
  max-width: 178.98px;
}

.services {
  margin-bottom: 2.5rem;
}
.services__head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  margin-bottom: 1.5rem;
}
.services__navigation {
  display: none;
}
.services__swiper {
  overflow: visible;
}
.services .swiper-button-prev, .services .swiper-button-next {
  position: static;
  padding: 0.625rem;
  background: #20201e;
  width: auto !important;
  height: auto !important;
  transition: 0.3s ease;
}
.services .swiper-button-prev:hover, .services .swiper-button-next:hover {
  background: #d7ad64;
}
.services .swiper-button-prev:hover i::before, .services .swiper-button-next:hover i::before {
  color: #000000 !important;
}
.services .swiper-button-prev::after, .services .swiper-button-next::after {
  display: none;
}
.services .swiper-button-prev i, .services .swiper-button-next i {
  font-size: 24px;
  transition: 0.3s ease;
}
.services .swiper-button-prev i::before, .services .swiper-button-next i::before {
  color: #fff !important;
}
.services__navigation {
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin-top: 1.5rem;
  display: none;
}
@media screen and (max-width: 767px) {
  .services__navigation {
    display: flex;
  }
}
.services .col-xl-3 {
  padding-right: calc(var(--bs-gutter-x) * 0.3);
  padding-left: calc(var(--bs-gutter-x) * 0.3);
  margin-bottom: 0.875rem;
}
.services .swiper-wrapper {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
@media screen and (max-width: 767px) {
  .services .swiper-wrapper {
    flex-wrap: nowrap;
  }
}
.services__title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28.06px;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 0;
}
@media screen and (max-width: 991px) {
  .services__title {
    text-align: center;
  }
}
.services__box {
  height: 292px;
  width: 100%;
  aspect-ratio: 1/1;
  display: block;
  position: relative;
}
@media screen and (max-width: 1399px) {
  .services__box {
    height: 250px;
  }
}
@media screen and (max-width: 991px) {
  .services__box {
    height: auto;
  }
}
.services__box:hover::after {
  transform: scale(1);
  opacity: 1;
}
.services__box::before {
  position: absolute;
  content: "";
  background: #000;
  opacity: 0.6;
  z-index: 1;
  pointer-events: none;
  inset: 0;
}
.services__box::after {
  position: absolute;
  content: "";
  z-index: 1;
  pointer-events: none;
  inset: 0;
  border: 10px solid #eec072;
  transform: scale(1.2);
  opacity: 0;
  transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.services__box--img {
  width: 100%;
  height: 100%;
}
.services__box--img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.services__box--title {
  font-size: 20px;
  font-weight: 700;
  line-height: 23.38px;
  color: #ffffff;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(0, -50%);
  z-index: 2;
  text-transform: uppercase;
  padding: 0.625rem 1.25rem;
  text-align: center;
  width: 100%;
  pointer-events: none;
}
.services .swiper-slide {
  width: auto;
  height: auto;
  flex: 0 0 auto;
  width: 25%;
  padding-right: calc(var(--bs-gutter-x) * 0.3);
  padding-left: calc(var(--bs-gutter-x) * 0.3);
  margin-bottom: 0.875rem;
}
@media screen and (max-width: 1199px) {
  .services .swiper-slide {
    flex: 0 0 auto;
    width: 33.33333333%;
  }
}
@media screen and (max-width: 767px) {
  .services .swiper-slide {
    padding-left: 0;
    padding-right: 0;
  }
}

.featuredProjects {
  margin-bottom: 2.5rem;
}
.featuredProjects__head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  margin-bottom: 2.25rem;
}
.featuredProjects__title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28.06px;
  text-transform: uppercase;
  color: #ffffff;
}
.featuredProjects .swiper-button-prev, .featuredProjects .swiper-button-next {
  position: static;
  padding: 0.625rem;
  background: #20201e;
  width: auto !important;
  height: auto !important;
  transition: 0.3s ease;
}
.featuredProjects .swiper-button-prev:hover, .featuredProjects .swiper-button-next:hover {
  background: #d7ad64;
}
.featuredProjects .swiper-button-prev:hover i::before, .featuredProjects .swiper-button-next:hover i::before {
  color: #000000 !important;
}
.featuredProjects .swiper-button-prev::after, .featuredProjects .swiper-button-next::after {
  display: none;
}
.featuredProjects .swiper-button-prev i, .featuredProjects .swiper-button-next i {
  font-size: 24px;
  transition: 0.3s ease;
}
.featuredProjects .swiper-button-prev i::before, .featuredProjects .swiper-button-next i::before {
  color: #fff !important;
}
.featuredProjects__navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin-top: 1.5rem;
}

.featuredProjectsBox {
  width: 100%;
  aspect-ratio: 1/0.86;
  position: relative;
  overflow: hidden;
  max-height: 364px;
}
.featuredProjectsBox.pageProject {
  margin-bottom: 1.5rem;
}
.featuredProjectsBox.pageProject .featuredProjectsBox__location {
  margin-bottom: 4.5rem;
}
.featuredProjectsBox:hover .featuredProjectsBox__content {
  transform: translateY(0%);
}
.featuredProjectsBox:hover .featuredProjectsBox__img::before {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.48) 0%, rgba(0, 0, 0, 0.8) 61.5%);
}
.featuredProjectsBox:hover .featuredProjectsBox__location {
  margin-bottom: 0.75rem;
}
.featuredProjectsBox__img {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}
.featuredProjectsBox__img::before {
  position: absolute;
  content: "";
  inset: 0;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.14) 0%, rgba(0, 0, 0, 0.7) 100%);
}
.featuredProjectsBox__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.featuredProjectsBox__content {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 2.375rem 1.375rem;
  color: #fff;
  transform: translateY(64%);
  transition: 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.featuredProjectsBox__title {
  font-size: 20px;
  font-weight: 700;
  line-height: 23.38px;
  margin-bottom: 0.75rem;
  color: #fff;
}
.featuredProjectsBox__location {
  font-size: 14px;
  font-weight: 700;
  line-height: 16.37px;
  display: flex;
  align-items: center;
  gap: 0.375rem;
  margin-bottom: 2.5rem;
}
.featuredProjectsBox__location span {
  text-transform: uppercase;
}
.featuredProjectsBox__location i {
  font-size: 20px;
}
.featuredProjectsBox__text {
  font-size: 14px;
  font-weight: 500;
  line-height: 22.68px;
  margin-bottom: 0.75rem;
  color: #ffffff;
  max-height: 100px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  overflow: hidden;
  text-overflow: ellipsis;
}
@media screen and (max-width: 400px) {
  .featuredProjectsBox__text {
    -webkit-line-clamp: 2;
  }
}
.featuredProjectsBox__more {
  background: #d7ad64;
  display: flex;
  align-items: center;
  gap: 0.25rem;
  display: inline-block;
  color: #000000;
  font-size: 14px;
  font-weight: 700;
  line-height: 16.37px;
  padding: 0.625rem 0.875rem 0.625rem 0.375rem;
}
.featuredProjectsBox__more:hover {
  color: #000000;
}
.featuredProjectsBox__more:hover i {
  animation: moveTX 0.3s ease infinite alternate;
}
.featuredProjectsBox__more i {
  font-size: 24px;
  display: inline-block;
  transition: 0.3s ease;
  padding-bottom: 2px;
}
.featuredProjectsBox__more i::before {
  color: #000000;
}
.featuredProjectsBox__more span {
  text-transform: uppercase;
}

.commentUser {
  margin-bottom: 2.5rem;
}
.commentUser__head {
  display: flex;
  align-items: center;
  gap: 1px;
  justify-content: space-between;
  margin-bottom: 1.563rem;
}
.commentUser__title {
  color: #ffffff;
  font-size: 24px;
  font-weight: 700;
  line-height: 28.06px;
  text-transform: uppercase;
}
.commentUser .swiper-slide {
  height: auto;
}
.commentUser .swiper-button-prev, .commentUser .swiper-button-next {
  position: static;
  padding: 0.625rem;
  background: #20201e;
  width: auto !important;
  height: auto !important;
  transition: 0.3s ease;
}
.commentUser .swiper-button-prev:hover, .commentUser .swiper-button-next:hover {
  background: #d7ad64;
}
.commentUser .swiper-button-prev:hover i::before, .commentUser .swiper-button-next:hover i::before {
  color: #000000 !important;
}
.commentUser .swiper-button-prev::after, .commentUser .swiper-button-next::after {
  display: none;
}
.commentUser .swiper-button-prev i, .commentUser .swiper-button-next i {
  font-size: 24px;
  transition: 0.3s ease;
}
.commentUser .swiper-button-prev i::before, .commentUser .swiper-button-next i::before {
  color: #fff !important;
}
.commentUser__navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin-top: 1.5rem;
}

.commentUserBox {
  width: 100%;
  height: 100%;
  background: #20201e;
  padding: 1.25rem;
  border-radius: 1.25rem;
  transition: 0.3s ease;
}
.commentUserBox:hover {
  background: #ffffff;
}
.commentUserBox:hover .commentUserBox__icon i::before {
  color: #707070;
}
.commentUserBox:hover .commentUserBox__title {
  color: #20201e;
}
.commentUserBox:hover .commentUserBox__text {
  color: #20201e;
}
.commentUserBox:hover .commentUserBox__nameAndCompany {
  color: #707070;
}
.commentUserBox__icon {
  text-align: right;
  margin-bottom: 0.25rem;
}
.commentUserBox__icon i {
  font-size: 24px;
}
.commentUserBox__icon i::before {
  color: #fff;
  transition: 0.3s ease;
}
.commentUserBox__title {
  font-size: 20px;
  font-weight: 700;
  line-height: 23.38px;
  color: #fff;
  margin-bottom: 0.25rem;
}
.commentUserBox__text {
  font-size: 14px;
  font-weight: 500;
  line-height: 16.37px;
  color: #fff;
  margin-bottom: 0.438rem;
}
.commentUserBox__nameAndCompany {
  color: #707070;
}

.bookMeeting {
  margin-bottom: 2.5rem;
  display: flex;
  align-items: center;
  gap: 1.5rem;
  justify-content: space-between;
  padding: 2.5rem 1.875rem;
}
@media screen and (max-width: 991px) {
  .bookMeeting {
    flex-direction: column;
    text-align: center;
  }
}
@media screen and (max-width: 575px) {
  .bookMeeting {
    padding: 1.5rem 0.5rem;
  }
}
.bookMeeting__title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28.06px;
  color: #fff;
  margin-bottom: 0.875rem;
  text-transform: uppercase;
}
.bookMeeting__text {
  font-size: 14px;
  font-weight: 500;
  line-height: 22.68px;
  color: #fff;
}
.bookMeeting__more {
  flex: 0 0 auto;
}
.bookMeeting__btn {
  font-size: 14px;
  font-weight: 700;
  line-height: 16.37px;
  color: #222222;
  background: #d7ad64;
  padding: 0.625rem 1.5rem;
  text-transform: uppercase;
}

.serviceName {
  padding: 2.5rem 1.875rem;
}
@media screen and (max-width: 991px) {
  .serviceName {
    padding: 1.5rem 0;
  }
}
.serviceName__wrapper {
  margin-bottom: 0.875rem;
}
.serviceName__title {
  font-size: 20px;
  font-weight: 700;
  line-height: 23.38px;
  margin-bottom: 0.875rem;
  color: #ffffff;
  text-transform: uppercase;
}
.serviceName__text {
  font-size: 14px;
  font-weight: 500;
  line-height: 22.68px;
  color: #ffffff;
}
.serviceName__feature--title {
  padding: 0.625rem;
  font-size: 24px;
  font-weight: 700;
  line-height: 28.06px;
  margin-bottom: 0.875rem;
  color: #ffffff;
  text-transform: uppercase;
}
.serviceName__featureBox {
  height: 364px;
  overflow: hidden;
  position: relative;
  margin-bottom: 1.5rem;
}
@media screen and (max-width: 991px) {
  .serviceName__featureBox {
    height: 300px;
  }
}
.serviceName__featureBox--img {
  width: 100%;
  height: 100%;
}
.serviceName__featureBox--img::before {
  position: absolute;
  content: "";
  z-index: 0;
  inset: 0;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.14) 0%, rgba(0, 0, 0, 0.7) 100%);
  pointer-events: none;
}
.serviceName__featureBox--img img {
  width: 100%;
  height: 100%;
}
.serviceName__featureBox--content {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 0 1.5rem 1.75rem 1.25rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media screen and (max-width: 991px) {
  .serviceName__featureBox--content {
    flex-wrap: wrap;
    padding: 0 0.75rem 0.75rem 0.75rem;
  }
}
.serviceName__featureBox--wr {
  padding: 0.625rem;
  padding-top: 0;
}
.serviceName__featureBox--title {
  font-size: 20px;
  font-weight: 700;
  line-height: 23.38px;
  color: #ffffff;
  text-transform: uppercase;
  margin-bottom: 0.75rem;
}
.serviceName__featureBox--location {
  font-size: 14px;
  font-weight: 700;
  line-height: 16.37px;
  color: #ffffff;
}
.serviceName__featureBox--location i {
  font-size: 20px;
}
.serviceName__featureBox--location span {
  text-transform: uppercase;
}
.serviceName__featureBox--more {
  background: #d7ad64;
  display: flex;
  align-items: center;
  gap: 0.25rem;
  display: inline-block;
  color: #000000;
  font-size: 14px;
  font-weight: 700;
  line-height: 16.37px;
  padding: 0.625rem 0.875rem 0.625rem 0.375rem;
}
.serviceName__featureBox--more:hover {
  color: #000000;
}
.serviceName__featureBox--more:hover i {
  animation: moveTX1 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) infinite alternate;
}
.serviceName__featureBox--more i {
  font-size: 24px;
  display: inline-block;
  transition: 0.3s ease;
  padding-bottom: 2px;
}
.serviceName__featureBox--more i::before {
  color: #000000;
}
.serviceName__featureBox--more span {
  text-transform: uppercase;
}

@keyframes moveTX {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(7px);
  }
}
@keyframes moveTX1 {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(7px);
  }
}
.single-page {
  padding: 2.5rem 1.875rem;
  margin-bottom: 1.5rem;
}
@media screen and (max-width: 991px) {
  .single-page {
    padding: 1.5rem 0.5rem;
  }
}
.single-page__wrapper {
  margin-bottom: 0.875rem;
}
.single-page__title {
  font-size: 20px;
  font-weight: 700;
  line-height: 23.38px;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 0.875rem;
}
.single-page__text {
  font-size: 14px;
  font-weight: 500;
  line-height: 22.68px;
  color: #fff;
}
.single-page__slider {
  height: 480px;
  width: 100%;
  position: relative;
  margin-bottom: 5.813rem;
}
@media screen and (max-width: 991px) {
  .single-page__slider {
    height: 210px;
  }
}
.single-page__slider .swiper-button-prev, .single-page__slider .swiper-button-next {
  position: static;
  padding: 0.625rem;
  background: #20201e;
  width: auto !important;
  height: auto !important;
  transition: 0.3s ease;
}
.single-page__slider .swiper-button-prev:hover, .single-page__slider .swiper-button-next:hover {
  background: #d7ad64;
}
.single-page__slider .swiper-button-prev:hover i::before, .single-page__slider .swiper-button-next:hover i::before {
  color: #000000 !important;
}
.single-page__slider .swiper-button-prev::after, .single-page__slider .swiper-button-next::after {
  display: none;
}
.single-page__slider .swiper-button-prev i, .single-page__slider .swiper-button-next i {
  font-size: 24px;
  transition: 0.3s ease;
}
.single-page__slider .swiper-button-prev i::before, .single-page__slider .swiper-button-next i::before {
  color: #fff !important;
}
.single-page__swiper {
  width: 100%;
  height: 100%;
}
.single-page__img {
  width: 100%;
  height: 100%;
}
.single-page__img::before {
  position: absolute;
  content: "";
  inset: 0;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.14) 0%, rgba(0, 0, 0, 0.7) 100%);
}
.single-page__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.single-page__navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin-top: 1.5rem;
  position: absolute;
  right: 1.5rem;
  bottom: 1.5rem;
}

.pages {
  padding: 2.5rem 1.875rem;
  margin-bottom: 4.688rem;
}
@media screen and (max-width: 991px) {
  .pages {
    padding: 1.5rem 0rem;
  }
}
.pages__wrapper {
  margin-bottom: 0.875rem;
}
.pages__title {
  color: #ffffff;
  font-size: 20px;
  font-weight: 700;
  line-height: 23.38px;
  text-transform: uppercase;
  margin-bottom: 0.875rem;
}
.pages__text {
  font-size: 14px;
  font-weight: 500;
  line-height: 22.68px;
  color: #ffffff;
}
.pages__img {
  margin-bottom: 0.875rem;
  overflow: hidden;
}
.pages__img:hover img {
  transform: scale(1.1);
}
.pages__img img {
  width: 100%;
  transition: 0.3s ease;
}

.package {
  margin-bottom: 10.375rem;
}
.package .col-sm-6 {
  padding-right: calc(var(--bs-gutter-x) * 0.3);
  padding-left: calc(var(--bs-gutter-x) * 0.3);
}
.package__text {
  font-size: 14px;
  font-weight: 500;
  line-height: 22.68px;
  color: #ffffff;
  padding: 0 1.25rem;
  margin-bottom: 1.5rem;
}

.packageBox {
  background: #1d1d1d;
  padding: 2.5rem 1.875rem;
}
@media screen and (max-width: 767px) {
  .packageBox {
    padding: 1.5rem 0.875rem;
  }
}
.packageBox__head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.875rem;
  gap: 1rem;
}
.packageBox__name {
  font-size: 20px;
  font-weight: 700;
  line-height: 23.38px;
  color: #ffffff;
  text-transform: uppercase;
}
.packageBox__icon span {
  font-size: 24px;
}
.packageBox__wrpaerTag {
  margin-bottom: 1.5rem;
}
.packageBox__tag {
  font-size: 16px;
  font-weight: 500;
  line-height: 18.7px;
  color: #ffffff;
  text-transform: uppercase;
  position: relative;
}
.packageBox__tag.center {
  text-align: center;
}
.packageBox__tag.center span {
  padding: 0 0.875rem;
}
.packageBox__tag span {
  background: #1d1d1d;
  z-index: 2;
  position: relative;
  padding-right: 0.875rem;
}
.packageBox__tag::before {
  position: absolute;
  content: "";
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  background: #ffffff;
  width: 100%;
  height: 1px;
  z-index: 0;
}
.packageBox__tag:not(:last-child) {
  margin-bottom: 0.875rem;
}
.packageBox__text {
  font-size: 14px;
  font-weight: 500;
  line-height: 22.68px;
  color: #ffffff;
  text-transform: uppercase;
  padding: 0.875rem 1.25rem;
  margin-bottom: 1.5rem;
}
.packageBox_btn {
  background: #d7ad64;
  color: #222222;
  font-size: 14px;
  font-weight: 700;
  line-height: 16.37px;
  display: inline-block;
  text-align: center;
  width: 100%;
  padding: 0.625rem 1.5rem;
  text-transform: uppercase;
}

footer {
  background: #121212;
  padding: 4.313rem 0;
}

.footer__title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28.06px;
  margin-bottom: 0.875rem;
  text-transform: uppercase;
  color: #ffffff;
}
.footer__text {
  font-size: 14px;
  font-weight: 500;
  line-height: 22.68px;
  color: #ffffff;
}
.footer__menu--title {
  font-size: 24px;
  font-weight: 700;
  line-height: 38.88px;
  color: #ffffff;
  text-transform: uppercase;
  margin-bottom: 0.875rem;
}
.footer__menu ul li:hover a i::before {
  color: #d7ad64;
}
.footer__menu ul li a {
  font-size: 14px;
  font-weight: 500;
  line-height: 22.68px;
  display: flex;
  align-items: center;
  gap: 0.625rem;
  color: #ffffff;
  padding: 0.438rem 0;
}
.footer__menu ul li a i {
  font-size: 14px;
}
.footer__menu ul li a i::before {
  transition: 0.3s ease;
}
.footer__link li {
  display: flex;
  gap: 0.625rem;
  margin-bottom: 0.875rem;
  flex-wrap: wrap;
}
@media screen and (max-width: 575px) {
  .footer__link li {
    justify-content: center;
    flex-direction: column;
  }
}
.footer__link li a {
  font-size: 14px;
  font-weight: 500;
  line-height: 22.68px;
  color: #ffffff;
  transition: 0.3s ease;
  overflow-wrap: anywhere;
}
.footer__link li a:hover {
  color: #d7ad64;
}
.footer__link--wr {
  display: flex;
  gap: 0.625rem;
  font-size: 14px;
  font-weight: 500;
  line-height: 22.68px;
  color: #ffffff;
}
.footer__link--wr i {
  font-size: 24px;
}
.footer__main {
  width: -moz-fit-content;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (max-width: 991px) {
  .footer__main {
    width: 100%;
  }
}

.copyRight {
  font-size: 14px;
  font-weight: 500;
  line-height: 22.68px;
  text-align: left;
  background: #000000;
  color: #ffffff;
  padding: 2.5rem 0;
}/*# sourceMappingURL=style.css.map */